<menu></menu>
<div>
  <br>
  <span class="hand-write">Select your Wearable</span>
  <select [ngModel]="currentSelectIndex" (ngModelChange)="onSelectWearableChange($event)">
    <option value="-1" selected="selected">-- Select Wearable --</option>
    <template ngFor let-wearable [ngForOf]="availableWearables" let-i="index">
      <option [value]="i">
        {{wearable.name}}
      </option>
    </template>
  </select>
  <br>
  <template ngFor let-type [ngForOf]="elementsOutputBlock" let-i="index">
    <div class="customize-element-block-head">{{wearableManager.getSelectWearable().outputs[i].name}}</div>
    <div class="customize-element-block-content">
      Mode :
      <select [ngModel]="-2" (ngModelChange)="updateMode( i, $event )">
        <option [value]="MODE_MANUAL">Manual</option>
        <option [value]="MODE_GPS">GPS</option>
        <template ngFor let-station [ngForOf]="stationManager.getStations()" let-idStation="index">
          <option [value]="idStation">{{station.name}}</option>
        </template>
      </select>
      <div *ngIf="idGpsQuery[i] == undefined && idRegionQuery[i] == undefined">
        <template [ngIf]="type == ELEMENT_SEQUIN">
          <onoff-switch (valueChange)="updateSequinState(i, $event)"></onoff-switch>
        </template>
        <template [ngIf]="type == ELEMENT_PIXEL">
          <p>Change color : <colorPicker (colorPickerChange)="updatePixelElement(i, $event)"></colorPicker></p>
        </template>
        <template [ngIf]="type == ELEMENT_STRIP">
          <p>
            Start Color : <colorPicker (colorPickerChange)="updateStartColorStrip(i, $event)"></colorPicker><br>
            End Color : <colorPicker (colorPickerChange)="updateEndColorStrip(i, $event)"></colorPicker><br>
            Level : <counter [min]=0 [max]=100 [step]=1 [value]=0 (valueChange)="updatePercenteColorStrip(i, $event)"></counter>
          </p>
        </template>
      </div>
    </div>
    <br>
  </template>
</div>
<overlay-message *ngIf="showLoading" loading="true">Sending data...</overlay-message>
