<div class="menu-root">
  <img (click)="this.toggleState()" alt="Menu" src="app/ressources/images/menu/menu.png" >
</div>
<div class="menu-root-close" [@menuState]="this.state" >
  <div class="right">
    <img (click)="this.toggleState()" alt="Menu" src="app/ressources/images/menu/menu.png" >
  </div>
  <ul>
    <li (click)="gotoAirQuality()" class="hand-write">My&nbsp;Air&nbsp;Quality</li>
    <li (click)="gotoCustomize()"  class="hand-write">Customize</li>
    <li (click)="gotoTutorial()"   class="hand-write">Tutorial</li>
    <li (click)="gotoShare()"      class="hand-write">Share</li>
    <li (click)="gotoDisconnect()" class="hand-write top-space">Disconnect Wearable</li>
  </ul>
</div>
