.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba( 50, 50, 50, 0.7);
  display: table;
  text-align: center;
  z-index: 9999999;
}

.overlay .container{
  display: table-cell;
  vertical-align: middle;
}

.overlay .container .content {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  background-color: #CCC;
  color: #000;
  padding: 5px 10px;
  margin: 2em;
  border-radius: 10px;
}

.overlay .container .content #loading {
  text-align: center;
}
