.share-div
{
  display: table;
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  font-size: 6vh;
}

.share-div a,
.share-div a:hover,
.share-div a:active,
.share-div a:visited
{
  display: table-row;
  color: inherit;
  text-decoration: none;
}

.share-div-element
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 13vh;
  margin-bottom: 6vh;
}

.share-div-element img
{
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}
