<menu></menu>
<div class="share-div hand-write">
  <a href="http://www.labintheair.cc/" target="_blank">
    <div class="share-div-element">
      <img alt="Website" src="app/ressources/images/share/web.png" /> Visit
    </div>
  </a>
  <a href="https://twitter.com/lab_in_the_air" target="_blank">
    <div class="share-div-element">
      <img alt="Twitter" src="app/ressources/images/share/twitter.png" />
      Follow
    </div>
  </a>
  <a href="https://www.facebook.com/A-LAB-in-the-AIR-1683991011853827" target="_blank">
    <div class="share-div-element">
      <img alt="Facebook" src="app/ressources/images/share/facebook.png"/>
      Like
    </div>
  </a>
  <a href="#" target="_blank">
    <div class="share-div-element">
      <img alt="Behance" src="app/ressources/images/share/behance.png"/>
      Look
    </div>
  </a>
  <a href="https://github.com/LABintheAIR" target="_blank">
    <div class="share-div-element">
      <img alt="GitHub" src="app/ressources/images/share/github.png"/>
      Fork
    </div>
  </a>
</div>
