<div>
  <div *ngIf="errorString" class="error" (click)="closeError()">{{errorString}}<div class="info-connect">Click to close</div></div>
  <img class="pic-info" alt="Turn on your weareable !" src="app/ressources/images/list-devices/turn-on.png" />
  <button id="button_search" class="link-scan" (click)="startScan()" ><b>Search my wearable</b></button>
  <br>
  <div class="right">
    <img class="pic-info" src="app/ressources/images/list-devices/choose.png" alt="Choose" />
  </div>
  <div *ngIf="devices">
    <ul class="devices">
      <li *ngFor="let device of devices">
        <button (click)="onSelectDevice(device)">
            {{device.name | uppercase }} <div class="info-connect">Click to connect...</div><br>
        </button>
      </li>
    </ul>
  </div>
  <div *ngIf="!devices" class="center">
    <img class="pic-info" alt="No wearables :(" src="app/ressources/images/list-devices/nothing.png" />
  </div>
</div>
<overlay-message *ngIf="showLoading" loading="true">Scanning devices...</overlay-message>
