.devices{
  padding: 0;
  list-style-type: none;
}

.devices li{
  margin-bottom: 5px;
}

.devices li div{
  width: 50%;
  font-size: 1.2em;
}

.address {
  font-size: 0.8em;
  color: #A0A0A0;
  padding-left: 1em;
}

.info-connect{
  float: right;
  width: auto !important;
  font-size: 0.8em !important;
  color: #A0A0A0;
}

.link-scan {
  width: 50%;
  font-size: 1.5em;
  text-align: center;
}
