.devices{
  padding: 0;
  list-style-type: none;
  margin-top: 0;
}

.devices li{
  margin-bottom: 5px;
}

.devices li .button{
  width: 100%;
}

.address {
  font-size: 0.8em;
  color: #A0A0A0;
  padding-left: 1em;
}

.info-connect{
  float: right;
  width: auto !important;
  font-size: 0.8em !important;
  color: #A0A0A0;
}

.link-scan {
  font-size: 1.2em;
  text-align: center;
  width: 100%
}

.rssi-db {
  font-size: 0.8em;
}

.right{
  width: 100%;
  text-align: right;
}
